/repos-py/MeshGraphnets/offical-tf/meshgraphnets/airfoil
rollout
/repos/无重复字符的最长子串/lc 4.28/lc 4.28.vcxproj
/repos/无重复字符的最长子串/lc 4.28/lc 4.28.vcxproj.filters
/repos/无重复字符的最长子串/lc 4.28/lc 4.28.vcxproj.user
/repos/无重复字符的最长子串/lc 4.28/Debug
/repos-py/MeshGraphnets/pytorch/meshgraphnets-main/.vscode
/repos-py/MeshGraphnets/offical-tf/meshgraphnets/.idea
.idea
/repos-py/MeshGraphnets/pytorch/meshgraphnets-main/wget-log
/repos-py/MeshGraphnets/my-refactor/.ipynb_checkpoints
/repos-py/MeshGraphnets/pytorch/meshgraphnets-main/output
/repos-py/MeshGraphnets/offical-tf/meshgraphnets/output
/.ipynb_checkpoints
/nohup.out
/repos-py/MeshGraphnets/MGN-main/GNN/GNNComponents/__pycache__
/repos-py/MeshGraphnets/MGN-main/GNN/ModelConfig/__pycache__
/repos-py/MeshGraphnets/MGN-main/GNN/__pycache__
/repos-py/MeshGraphnets/MGN-main/GNN/ModelConfig/__pycache__
/repos-py/MeshGraphnets/MGN-main/GNN/utils/__pycache__
/.vscode
/repos-py/Spline_PINN-main/plots
/repos-py/Spline_PINN-main/.gitattributes
/test
/repos-py/Spline_PINN-main/Logger
/repos-py/MeshGraphnets/PyG-version/chk
/repos-py/gn-pytorch-Graph-Networks-as-Learnable-Physics-Engines-for-Inference-and-Control/__pycache__
logs
/repos-py/gn-pytorch-Graph-Networks-as-Learnable-Physics-Engines-for-Inference-and-Control/chk
/repos-py/MP-Neural-PDE-Solvers-master/mp_pde_solvers.egg-info
/repos-py/FVM/result
/repos-py/cfd-gcn-master/meshes
/repos-py/cfd-gcn-master/data
/repos-py/Unsupervised_Deep_Learning_of_Incompressible_Fluid_Dynamics-main/imgs
/repos-py/Logger
/repos-py/FVM/my_FVNN/Extract_mesh/__pycache__
/repos-py/FVM/my_FVNN/utils/__pycache__
/repos-py/FVM/my_FVNN/FVMmodel/__pycache__
/repos-py/FVM/my_FVNN/dataset/__pycache__
/.VSCodeCounter
/repos-py/FVM/my_FVNN/__pycache__
/repos-py/jtedu/__pycache__
/Logger
/tensorboard
/checkpoint
/repos-py/FVM/my_FVNN/rollouts
/repos-py/FVM/my_FVNN/Logger
/FVGN-res
/repos-py/jtedu/log
/dataset
/repos-py/finn-master/checkpoints
/repos-py/transformers-main
/repos-py/Deep-Flow-Prediction-master/data
repos-py/MP-Neural-PDE-Solvers-master/common/__pycache__/__init__.cpython-37.pyc
repos-py/MP-Neural-PDE-Solvers-master/common/__pycache__/coefficients.cpython-37.pyc
repos-py/MP-Neural-PDE-Solvers-master/common/__pycache__/derivatives.cpython-37.pyc
repos-py/MP-Neural-PDE-Solvers-master/data/WE_train_WE3.h5
repos-py/MP-Neural-PDE-Solvers-master/data/log/WE_WE3_time9301431.csv
repos-py/MP-Neural-PDE-Solvers-master/equations/__pycache__/PDEs.cpython-37.pyc
repos-py/MP-Neural-PDE-Solvers-master/temporal/__pycache__/__init__.cpython-37.pyc
repos-py/MP-Neural-PDE-Solvers-master/temporal/__pycache__/solvers.cpython-37.pyc
repos-py/MP-Neural-PDE-Solvers-master/temporal/__pycache__/tableaux.cpython-37.pyc
Relonyds_number.png
/repos-py/jtedu/CV_locate/__pycache__
repos-py/swish-torch
repos-py/pytorch_scatter-1.3.0
repos-py/FVM/my_FVNN/Extract_mesh/img_output
repos-py/Unsupervised_Deep_Learning_of_Incompressible_Fluid_Dynamics-main/Logger/tensorboard
repos-py/Unsupervised_Deep_Learning_of_Incompressible_Fluid_Dynamics-main/Logger
OpenFOAM-dev
Unsupervised_Deep_Learning_of_Incompressible_Fluid_Dynamics
physics_informed
fipy
pytorch_scatter
OpenFOAM-dev
coord-trans-encoding
Teaching_Incompressible_Fluid_Dynamics_to_3D_CNNs
repos-py/finn-master
repos-py/finn-main
repos-py/ICLR2020-PADGN-master
repos-py/Spline_PINN-main
repos-py/graphGalerkin-main
repos-py/MeshGraphnets/my-refactor
repos-py/MeshGraphnets/offical-tf/meshgraphnets/chk
repos-py/MeshGraphnets/offical-tf/meshgraphnets/meshgraphnets/__pycache__
repos